# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/

# ML artifacts
models/
plots/
images/

# OS/editor
.DS_Store
.vscode/
.idea/
models/*.pkl
